@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>barre de défilement</p>
</div>

<div class="row">
    <div class="col-md-3">
        <table border="2" align="center">
            <tr>
                <td><h3>Inscrit</h3></td>
            </tr>
            <tr>
                <td>5000</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <table border="2" align="center">
            <tr>
                <td><h3>Montant accumulé</h3></td>
            </tr>
            <tr>
                <td>25000</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <table border="2" align="center">
            <tr>
                <td><h3>Projets actifs</h3></td>
            </tr>
            <tr>
                <td>1</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <table border="2">
           
                <tr>
                    <td> 
                        <h3>Événements</h3>
                        événement actuel
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Actualités</h3>
                        actualité du jour
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Commentaires</h3>
                        vos commentaires
                    </td>
                </tr>
        </table>
    </div>
</div>